# npm project files 
node_modules/
.npm



# VIM swap files
*.swp

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# typescript compiled out
dist/

#nodeman debugging stores partners in scripts
scripts/partners.json